:root {
  font-family: "Comfortaa", Tahoma, sans-serif;
  font-size: 16px;
  --font-color-dark-one: rgb(30, 30, 30);
  --font-color-dark-two: rgb(63, 63, 63);
  --font-color-light-one: rgb(240, 240, 240);
  --font-color-light-two: rgb(220, 220, 220);
  --bg-color-light-one: rgb(210, 210, 210);
  --bg-color-dark-one: rgb(38, 38, 38);
  --bg-color-dark-two: rgb(80, 80, 80);
  --transition-speed-one: 200ms;
  --transition-speed-two: 300ms;
  --box-shadow-block: 2px 4px 4px 2px rgba(0, 0, 0, 0.164);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-dark-one);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color-dark-one);
}

.header {
  position: static;
}

.navbar {
  margin-top: 0;
  padding-top: 0;
  background-color: var(--bg-color-light-one);
  width: 100vw;
  height: 2rem;
}

.navbar-container {
  padding: 0;
  margin: 0;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nav-item {
  margin-right: 0.5rem;
}