:root {
  font-family: "Comfortaa", Tahoma, sans-serif;
  font-size: 16px;
  --font-color-dark-one: rgb(30, 30, 30);
  --font-color-dark-two: rgb(63, 63, 63);
  --font-color-light-one: rgb(240, 240, 240);
  --font-color-light-two: rgb(220, 220, 220);
  --bg-color-light-one: rgb(210, 210, 210);
  --bg-color-dark-one: rgb(38, 38, 38);
  --bg-color-dark-two: rgb(80, 80, 80);
  --transition-speed-one: 200ms;
  --transition-speed-two: 300ms;
  --box-shadow-block: 2px 4px 4px 2px rgba(0, 0, 0, 0.164);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-dark-one);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color-dark-one);
}

.header {
  position: static;
}

.navbar {
  margin-top: 0;
  padding-top: 0;
  background-color: var(--bg-color-light-one);
  width: 100vw;
  height: 2rem;
}

.navbar-container {
  padding: 0;
  margin: 0;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nav-item {
  margin-right: 0.5rem;
  flex: none;
}

.nav-item.logo {
  margin-right: auto;
  margin-left: 0.5rem;
}

.nav-item.logo .icon-text {
  margin-left: 0.2rem;
  font-weight: 900;
}

.navbar-bottom {
  position: relative;
  height: 0.1rem;
  background-color: var(--bg-color-light-one);
  filter: brightness(0.5);
  box-shadow: var(--box-shadow-block);
}

.search-box-container {
  border: 1px solid var();
  padding: 2px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.nav-search-box i {
  color: var(--text-dark-one);
  margin-bottom: 2px;
}

.search-box-input {
  height: 1.4rem;
  border-radius: 4px;
  border: none;
  background-color: rgb(235, 235, 235);
  padding-left: 8px;
  min-width: 4rem;
  box-shadow: 0 2px rgba(0, 0, 0, 0.165) inset;
}

input[type="text"]:focus {
  outline: none;
  background-color: rgb(219, 219, 219);
}

.main-container {
  height: 40.2rem;
  width: 36rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: var(--bg-color-dark-two);
  box-shadow: var(--box-shadow-block);
}

.toolbar {
  background-color: var(--bg-color-light-one);
  height: 4rem;
}

.toolbar-bottom {
  background-color: var(--bg-color-light-one);
  height: 0.2rem;
  filter: brightness(0.5);
}

.pixel-container {
  background-color: var(--bg-color-light-one);
  height: 36rem;
  width: 36rem;
  display: grid;
  grid-template-columns: repeat(9, 3.9rem);
  grid-template-rows: repeat(9, 3.9rem);
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.pixel {
}

.pixel-color-black {
  background-color: black;
}
